<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="viewport">
        {% include "appdb/navbar.html" %}
        <!-- Content -->
        <div id="content" class="container">
            <div class="container-fluid">
                <form id="addnews">{% csrf_token %}
                  <div class="row">
                  <div class="card well card-body bg-light header" id="myHeader" style="background-color:#eee;">
                        <h2 class ='title'><b></p>ADD NEWS FEED</b></h2>
                    </div>
                   
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Title</label>
                                <textarea class="form-control" name="news_title" placeholder="News Title" rows="2" cols="40"></textarea>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Description</label>
                                <textarea class="form-control" name="news_description" placeholder="Description" rows="7" cols="60"></textarea>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <center><button type="submit" class="btn btn-info">ADD</button></center>
                        </div>
                        <br>
                        <div id="added" class="alert alert-success alert-dismissible" hidden>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong id="added_msg"></strong>
                          </div>
                    </div>
                    
                    
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
     $(".close").click(function(){
            $("#added").hide()  
        })
    // on submit of addFeed form
    $(document).on('submit', '#addnews', function(e) {
            e.preventDefault();

            //get form data
            var form = document.getElementById('addnews');
            var formData = new FormData(form);
            formData.append('constituency_name', sessionStorage.getItem('uconsname'));
            $.ajax({
                url: "/addFeed",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                beforeSend: function() {},
                success: function(response) {
                    if (response['code'] == 200) {
                        document.getElementById("addnews").reset();

                        $("#added_msg").html(response['message'])
                        $("#added").show()                                        

                    } else if (response['code'] == 400) {
                        Swal.fire({
                            title: 'Error!',
                            text: response['message'],
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response['message'],
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    }


                },
                error: function(error) {
                    Swal.fire({
                        title: 'oops!',
                        text: "Something went wrong . Try again!!!",
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
        });

       

</script>

</html>




</body>



</html>
