<!DOCTYPE html>
{% load static%}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Dashboard</title>
    <link rel="icon" href="{%static 'img/p.jpg'%}" type="image/x-icon">
    <style>
        .header {

            padding: 10px 16px;
            background: #37474F;
            color: #0e0b0b;

        }

        .sticky {

            position: fixed;
            top: 0;
            width: 100%;

        }

        .sticky+.content {
            padding-top: 102px;
        }
    </style>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'
        type='text/css'>
    <link
        href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'
        rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

    <div id="viewport">
        {% include "appdb/navbar.html" %}
        <!-- Content -->
        <div id="content" class="container">




            <div class="container-fluid">

                <div class="row">
                    <div class="card well card-body bg-light header" id="myHeader" style="background-color:#eee;">
                        <h2 class='title'><b><span style="color:#1e718a;">News </span><span style="color:#1e718a;">Feed</span></b></h2>

                    </div>
                    <div class="content" id="feeds">
                        <!-- <div class="jumbotron"><small><b>Thu, 07 Jan 2021 17:03:47 GMT</b></small><hr><large><b>f</b></large><br><small>f</small><br><br><br>
                        <img src="img/bas.jpg" width="450" height="150"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    //on ready function for dashboard
    $(document).ready(function () {
        //to show corresponding nav bar
        $('.representative-sidebar').hide();
        $('.public-sidebar').hide();
        $('.admin-sidebar').hide();
        if (sessionStorage.getItem("usertype") == 'admin') $('.admin-sidebar').show();
        else if (sessionStorage.getItem("usertype") == 'public') $('.public-sidebar').show();
        else if (sessionStorage.getItem("usertype") == 'representative') $('.representative-sidebar').show();

        if ($('.main-panel > .content').length == 0) {
            $('.main-panel').css('height', '100%');
        }
        sessioncheck();
        getAllFeeds(sessionStorage.getItem("const_id"));

    });

    function getAllFeeds(const_id) {

        $.ajax({
            url: "/getAllFeeds?const_id=" + const_id,
            cache: false,
            processData: false,
            contentType: false,
            type: 'GET',
            beforeSend: function () { },
            success: function (response) {
                var data = '';
                for (var i = 0; i < response.data.length; i++) {
                    var dateTime = new Date(response.data[i].feed_date);
                    data += '<div class="jumbotron" ><article><b>' + dateTime.toLocaleString('en-IN') + '</b></article><hr><h4 style="color:rgb(178,34,34);"><b>' + response.data[i].feed_title + '</b></h4><small >' + response.data[i].feed_description + '</small> <br><br>';
                    if (response.data[i].newsimage) data += '<img src="' + response.data[i].newsimage + '" width="400" height="300">';
                    data += '</div>';
                    $('#feeds').html(data);
                    window.scrollBy(100, 0);
                }
            },
            error: function (error) {
            }
        })
    }
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

</html>