<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
  <title>Home</title>
  <link rel="icon" href="{%static 'img/p.jpg'%}" type="image/x-icon">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <!doctype html>
  <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      type="text/css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous">

    <title>PEP</title>
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <style>
      li {
        margin-right: 20px;
      }

      .nav-item li {
        margin-right: 7px;
      }
    </style>

  </head>

  <body>
    <div id="viewport">
      <div id="content" class="container">

        <div class="container-fluid">
          <div class="row ">
            <div class="card well card-body bg-light header" id="myHeader" style="background-color:#eee;">


              <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <a class="navbar-header navbar-brand"
                  style="font-size:15px;background-color:rgb(43, 42, 42);font-weight: 900"><b><span
                      style="color:rgb(255, 247, 247);background-color: transparent;">PUBLIC- </span><span
                      style="color:#1e718a;background-color: transparent;">ENGAGEMENT- </span><span
                      style="color:rgb(255, 247, 247);background-color: transparent;">PLATFORM </span></b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">

                    <li class="nav-item active ">
                      <a class="nav-link" href="home" style="font-size:15px;">Home </a>
                    </li>

                    <li class="nav-item ">
                      <a class="nav-link" href="/aboutus" style="font-size:15px;">About Us!</a>
                    </li>


                    <li class="nav-item ">
                      <a class="nav-link" href="contact" style="font-size:15px;">Contact Us</a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="signup"><span class="glyphicon glyphicon-user"
                          style="font-size:15px;color:rgb(138, 195, 252);"></span><b style="font-size:13px;">
                          Register</b></a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"
                          style="font-size:15px;color:rgb(138, 195, 252);"></span><b style="font-size:13px;"> Login
                        </b></a></li>
                  </ul>

                </div>
              </nav>

              <section class="text-gray-700 body-font">
                <div class="container fluid mx-auto flex px-5 py-24 items-center justify-center flex-col ">
                  <img class="lg:w-2/7 md:w-3/7 w-5/5 mb-5 object-cover object-center rounded" alt="hero"
                    src="https://enterprise.affle.com/blog/wp-content/uploads/2019/06/153520-OUS1F5-762.jpg">
                  <div class="text-center lg:w-2/3 w-full container jumbotron">
                    <h2 class="title-font sm:text-3xl text-2xl mb-8 font-medium text-gray-900">WELCOME TO OUR CITIZEN
                      ENGAGEMENT PLATFORM</h2>
                    <p class="mb-4 leading-relaxed">
                    <p>Public Engagement Platform is a citizen engagement platform, to reconnect with the community,
                      engage them in the decision-making process and regain trust.It is aimed at creating a common
                      platform for Indian citizens to "crowdsource governance ideas from citizens".We will try our best
                      to help you out with your problems.</p><br>
                    <p>THANK YOU!!!</p>


                  </div>
                </div>
            </div>
            </section>


            <hr>


            <!-- Optional JavaScript; choose one of the two! -->

            <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
              integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
              crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
              crossorigin="anonymous"></script>
            <script src="./assests/js/vendor/jquery/jquery.min.js"></script>
            <script src="./assests/js/main.js"></script>

            <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>

  </html>
</body>

</html>