<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <style>
        .header {

            padding: 10px 16px;
            background: #37474F;
            color: #0e0b0b;

        }

        /* .sticky {

            position: sticky;
            top: 0;
            z-index: 1071;
            top: 0;
            width: 100%;

        } */

        .sticky+.content {
            padding-top: 102px;
        }
    </style>
    </head>

    <body>
        <div id="viewport">
            {% include "appdb/navbar.html" %}
            <!-- Content -->
            <div id="content" class="container">

                <div class="container-fluid">
                    <div class="row ">
                        <div class="card well card-body bg-light header" id="myHeader" style="background-color:#eee;">
                            <!-- Modal -->
                            <div class="modal fade" id="editNewsModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit News</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editFeed">
                                                <input type="text" id="editFeedId" hidden>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <textarea class="form-control" name="news_title"
                                                        id="edit_news_title" placeholder="News Title" rows="2"
                                                        cols="40"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" name="news_description"
                                                        id="edit_news_description" placeholder="Description" rows="7"
                                                        cols="60"></textarea>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="editFeedBtn" onclick="editFeed()"
                                                class="btn btn-info pull-right">Save
                                                changes</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <h2 class='title'><b></p>MANAGE NEWSFEED</b></h2>
                        </div>
                        <div class="content" id="feeds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        // scroll function
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop; function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        var feedData;
        $(document).ready(function () {
            getAllFeeds(sessionStorage.getItem("const_id"));
        })
        function getAllFeeds(const_id) {
            $.ajax({
                url: "/getAllFeeds?const_id=" + const_id,
                cache: false,
                processData: false,
                contentType: false,
                type: 'GET',
                beforeSend: function () { },
                success: function (response) {

                    var data = '';
                    feedData = response.data

                    for (var i = 0; i < feedData.length; i++) {
                        var feed_id = feedData[i].id;
                        var feed_date = response.data[i].feed_date;
                        var feed_title = response.data[i].feed_title;
                        var feed_desc = response.data[i].feed_description;
                        data += '<div  id="feed' + feed_id + '"class="jumbotron"><small><b>' + feed_date + '</b></small><hr><large id="feedtitle' + feed_id + '"><b>' + feed_title + '</b></large><br><small id="feeddesc' + feed_id + '">' + feed_desc + '</small><br><br>' +
                            '<div class="btn-group" >' +
                            '<button type="button" data-toggle="modal" data-target="#editNewsModal" onclick="openEditFeed(' + feed_id + ')"  class="btn btn-success">Edit</button>' +
                            '<button onclick="deleteFeed(' + feed_id + ')" type="submit" class="btn btn-danger">Delete</button>' +
                            '</div></div>';
                    }

                    $('#feeds').html(data);
                    window.scrollBy(100, 0);
                },
                error: function (error) {
                }
            })
        }

        // delete news feed
        function deleteFeed(feedId) {
            var data = new FormData();
            data.append('feed_id', feedId);
            $.ajax({
                url: "/deleteFeed",
                cache: false,
                data: data,
                processData: false,
                contentType: false,
                type: 'POST',
                beforeSend: function () { },
                success: function (response) {
                    if (response['code'] == 200) {
                        $("#feed" + feedId).remove()
                        Swal.fire({

                            text: response['message'],
                            icon: 'warning',
                            confirmButtonText: 'Save Changes',

                        })
                    }

                    else {
                        Swal.fire({
                            title: 'Error!',
                            text: response['message'],
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    }
                },
                error: function (error) {
                }
            })
        }

        // on open - edit news feed
        function openEditFeed(feedId) {
            $("textarea#edit_news_title").val("");
            $("textarea#edit_news_description").val("");
            console.log(feedId, feedData)
            feedData.forEach(function (feed) {
                if (feed['id'] == feedId) {
                    console.log(feed);
                    $("#editFeedId").val(feedId);
                    $("textarea#edit_news_title").val(feed['feed_title']);
                    $("textarea#edit_news_description").val(feed['feed_description']);
                }
            });
        }

        // on submit of addFeed form
        function editFeed() {
            //get form data
            console.log($('#editFeedId').val())
            var form = document.getElementById('editFeed');
            var formData = new FormData(form);
            formData.append('feed_id', $('#editFeedId').val());
            $.ajax({
                url: "editfeed",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                beforeSend: function () { },
                success: function (response) {
                    if (response['code'] == 200) {
                        // $('#editNewsModal').modal('hide');
                        $('#editNewsModal').hide();
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $("#feedtitle" + response['feed_id']).html("<b>" + response['newstitle'] + "</b>");
                        $("#feeddesc" + response['feed_id']).html(response['newsdesc'])

                        Swal.fire({
                            title: 'Success!',
                            text: response['message'],
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })

                    } else if (response['code'] == 400) {
                        Swal.fire({
                            title: 'Error!',
                            text: response['message'],
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response['message'],
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    }
                },
                error: function (error) {
                    Swal.fire({
                        title: 'oops!',
                        text: "Something went wrong . Try again!!!",
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
        }

    </script>






</body>




</html>